html 
    head
        style
        script(src='a.js')
        link(href="a.css",ref="rel/stylesheet")
    body
        ul
            li
                input(type="text",id="txt1" value="abc")
            li
                input(type="text",id="txt2" value="abc")
            li
                input(type="text",id="txt3" value="abc")
