html 
    head
        style
        script alert('abc')
    body
        a(href='http://www.baidu.com') 百度
        a(href='https://www.google.com/webhp?hl=zh-CN&sa=X&ved=0ahUKEwi24O28yofbAhUqxVQKHd61Df8QPAgD') 谷歌
